html,body{background: #34495e;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;}
    
input{font-size: 22px;
	padding: 15px; 
	border-radius: 30px;
	background-color: #191919;
	border: 4px solid #3498db;
	text-align: center;
	color:white;
	transition:0.25s}
	
input:focus{width:580;}

#div1{margin: auto;
	border:4px solid;
	padding:40px;
	width: 550px; 
	border-radius: 15px;
	background-color: #191919;
	position:relative;
	top:170px}

text{font-size: 28px;
	font-family: Pacifico;
	color: white;}

h2 {text-align: center;
	color: white; 
	font-weight: bold}

.btn{color: white;
	background-color: #191919;
	border: 4px solid #4CAF50;
	font-size: 25px;
	width: 200px;
	border-radius: 30px;}

#btn-login:hover{color: black;
	background-color: #00b33c;}
	
